[submodule "submodules/Unruly"]
	path = submodules/Unruly
	url = https://github.com/ytnobody/Unruly.git
[submodule "submodules/WWW-Uncyclopedia"]
	path = submodules/WWW-Uncyclopedia
	url = https://github.com/ytnobody/WWW-Uncyclopedia.git
